<h2><%= @category.category %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr> 
      <td><%= task.task %></td>
      <td><%= task.date.strftime("%B %d") %></td>
      <td><%= task.time.strftime("%I:%M %p") %></td>
      <td><%= button_to "Edit Task", edit_category_task_path(@category,task.id), {method: :get} %></td>
      <td><%= button_to "Delete Task", delete_task_path(@category,task.id), {method: :delete} %></td>
    </tr>
    <% end %>

  </tbody>
</table> 

</br>

<%= button_to 'Add Tasks', new_category_task_path(@category), {method: :get} %> 
</br>
</br>
<%= button_to "Back to Categories", categories_path, {method: :get} %> 
</br>
<%= button_to "Back to Home", dashboard_index_path, {method: :get} %> 